.project-container {
  width: 100;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  font-family: "Rampart One", cursive;
  letter-spacing: -1px;
  background: linear-gradient(to top, #ccccff 2%, #b7f1f1 100%);
}

.recent_title {
  width: 100%; 
  display: flex; 
  justify-content: center;  
  background: #b7f1f1; 
  padding-top: 80px; 
  font-family: "Rampart One", cursive;
}
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#label_h4 {
  display: flex; 
  justify-content: center;
  font-family: "Average", serif;
  font-size: 25px;
  margin-bottom: 20px;
}

video {
  width: 60%;
  height: auto;
  margin-bottom: 100px;
}
